<h1>Create a new cat!</h1>
<form action="<%= cats_url %>" method="POST">
    <label> Name
        <input type="text">
    </label>
    <label for="M">Male<label>
    <input type="radio" id="M" name="cat[sex]"value= "M" >
    <label for="F">Female</label>
    <input type="radio" id="F" name="cat[sex]"value= "F">


    <label for= "Color"> Color
    </label>
    <select name="cat[color]" id="Color">
    <option disabled selected value= ""> ---Select a color--- </option>
    <% Cat.colors.each do |color| %>
    <option value="<%= color %>"><%= color %></option>
    <%end%>
    </select>
    <label for="date"> Birth Date </label>
    <input type="date" id= "date" name="cat[birth_date]">


    <label for="desc"> Description </label>
    <textarea type="text" id= "desc" name="cat[description]"></textarea>

    <input type="submit" value="add cat">
</form>