<h1>Doopy! Doop! Doop! You're here to sign in!</h1>

<form action="<%= new_user_url %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_toke %>">
  <input type="text" name="user[email]">
  <input type="text" name="user[pasw">
</form>